<?xml version="1.0"?>
<configuration>
    
    
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    </appSettings>

    
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpRuntime maxRequestLength="2147483647" maxQueryStringLength="131072" maxUrlLength="131072" relaxedUrlToFileSystemMapping="true" targetFramework="4.0"/>
    </system.web>
    
    
    <system.serviceModel>   
        <bindings>
            <webHttpBinding>
                <binding name ="" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"     receiveTimeout="02:00:00">
                    <readerQuotas maxDepth="2147483647"
                                  maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647" />
                </binding>
            </webHttpBinding>
        </bindings>
      
        <services>
            <service name="mstDryWeight.RestServiceImpl" behaviorConfiguration="ServiceBehaviour">
                <endpoint address="" binding="webHttpBinding" contract="mstDryWeight.IRestServiceImpl" behaviorConfiguration="web"/>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehaviour">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        
        

        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https"/>
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>    
    </system.serviceModel>
 
    
    
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="65536" maxUrl="65536" maxQueryString="65536" />
            </requestFiltering>
        </security>
        
        <modules runAllManagedModulesForAllRequests="true"/>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
            </customHeaders>
        </httpProtocol>
        <directoryBrowse enabled="true"/>
    </system.webServer>
    
</configuration>